header, div, nav, main, section, aside, article {display: block}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

tbody tr {
    cursor: pointer;
}

td, th {
    text-align: center;
}

input, textarea {
    width: 50% !important;
}