header, div, nav, main, section, aside, article {display: block}

#logo {
    display: inline-block;
    background: url("/assets/images/logo.png") no-repeat;
    background-size: contain;
    width: 45px;
    height: 40px;
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

tbody tr, th {
    cursor: pointer;
}

td, th {
    text-align: center;
}

/*tr:nth-child(even) {*/
    /*background: #edeae6 !important;*/
/*}*/

input, textarea {
    width: 50% !important;
}

.hiddenText {
    font-size: 0;
}

th:after {
    font-family: FontAwesome;
    content: "\f0dc";
    margin-left: 3px;
    font-size: 60%;
}

.headerSortUp:after {
    font-family: FontAwesome;
    content: "\f0de";
    margin-left: 3px;
}

.headerSortDown:after {
    font-family: FontAwesome;
    content: '\f0dd';
    margin-left: 3px;
}